.ActorsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  &_li {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid #e0e0e0;
    border-radius: 24px;
    padding: 15px;
    transition: all 0.3s ease;
    height: 100%;

    &:hover {
      border-color: #ff6b08;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
    }
  }
  &_img {
    margin-bottom: 9px;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  &_characterPos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  &_name {
    font-size: 22px;
    font-weight: 600;
  }
}
