.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_title {
    font-size: 45px;
    margin-bottom: 25px;
  }
}

.HomeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  &_link {
    color: #fff;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:active {
      color: #ff6b08;

      &::after {
        background-color: #e65100;
      }
    }
  }
}
