.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;

  &_input {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      border-color: #ff6b08;
      box-shadow: 0px 4px 15px rgba(255, 107, 8, 0.2);
    }
  }

  &_button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #ff6b08;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #ff5900;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.MoviesList {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 8px;
  &_link {
    color: #fff;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:active {
      color: #ff6b08;

      &::after {
        background-color: #e65100;
      }
    }
  }
}

.MoviesPositionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
